main{
    width: 100%;
    height: 86%;
}

article{
    width: 100%;
    height: 100%;
}

article > div{
    float: left;
}

footer > div{
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
}

footer > div > button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: white;
}

article > div{
    float: left;
    padding: 7px;
}

article > div > img{
    width: 100%;
    height: auto;
    display: flex;
}

.carousel{
    margin-bottom: 7px;
    padding: 0;
}



/* #list{
    position: absolute;
    -webkit-animation: 7s move infinite linear; 
    width: 500%; 
}
#list img {
    list-style: none; 
    width: 20%; 
    height: auto; 
    text-align: center;
    float: left;
}
@-webkit-keyframes move{
    0% {
          left: 0;
    }
    100% {
          left: -500px;
    }
}
@keyframes move {
    0% {
       left: 0;
    }
    100% {
       left: -500px;
    }
}
#page-content:hover #list {
    -webkit-animation-play-state: paused; 动画暂停播放
} */