.news-title{
    width: 100%;
    height: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 109, 223);
    font-weight: bold;
}

.news-title>big{
    margin-left: 5%;
}

.content{
    width: 96%;
    height: 98%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

.row{
    width: 100%;
    height: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(235, 235, 235);
}

.img{
    width: 35%;
    height: 100%;
    float: left;
}

.abstract{
    width: 65%;
    height: 100%;
    float: left;
    position: relative;
}

.abstract>*{
    word-wrap: break-word;
    height: auto;
}


.img>img{
    height: 100%;
    width: auto;
    overflow: hidden;
}

.abstract>div>*{
    float: right;
}

.abstract>.big{
    width: 100%;
    font-size: 1.5em;
}

.abstract>.small{
    color: rgb(190, 190, 190);
}