.row {
    width: 100%;
    height: 12%;
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    margin-bottom: 2%;
}

.row>.img {
    width: 38%;
    height: 100%;
    float: left;
}

.row>.img>img {
    float: right;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.nameBox {
    float: left;
    width: auto;
    height: 100%;
    margin-left: 5%;
    /* text-align: center; */
    display: flex;
    justify-content:center;
    align-items:Center;
}

.productName {
    font-weight: bold;
    color: rgb(0, 109, 223);
    padding-bottom: 10%;
}

.productName small{
    font-weight: normal;
    color: black;
}